<!-- 親テンプレートを読み込む-->
{% extends './base.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper">
<div class="container-fluid">
<div class="mt-5 text-center">
<div class="alert alert-primary alert-dismissible" role="alert">
<p style="margin-bottom:1em;"><h3><b>画像の霧除去</b></h3></p>
<hr>
<h4>
<ol>
<li style="margin-bottom:1em;" align="left">霧がかかった画像を入力してください。</li>
<!--<li style="margin-bottom:1em;" align="left">画像ファイルは複数同時に選択してアップロードすることができます。</li>-->
</ol>
</h4>
</div>
</div>
<hr>

<div id="app">
<div class="mt-5 text-center">
<form>
  <div style="display:inline-flex">
  <input type="file" name="files[]" @change="onFileChange">
  </div>
  <button type="button" v-on:click.stop='sendmessage'>ボタン</button>
</form>
<hr>
  <img v-show="uploadedImage" class="margin" v-bind:src="uploadedImage" width="256" height="256" alt=""/>
  <img v-show="output" class="margin" v-bind:src="dataUrl" width="256" height="256" alt="出力画像"/>
    <div v-show="output" class="preview-item-btn" @click="remove">
    <button type="button" v-on:click.stop='remove'>close</button>
      <p class="preview-item-name">[[ img_name ]]</p>
    </div>
</div>

{% if message %}
<div class="alert alert-danger" role="alert">
<h4><font color="red">{{message}}<br></font> </h4>
</div>
{% endif %}
<hr>


<p>サンプルテスト</p>
<form>
  <select name="sample" @change="test1">
    <option value="">選択して下さい</option>
    <option value="1" @click="test1">画像例1</option>
    <option value="2" @click="test1">画像例2</option>
    <option value="3" @click="test1">画像例3</option>
    <input type="button" v-on:click.stop.prevent='sendmessage' value="テスト"> 
  </select>
</form>

<hr>
<h4><p style="margin-bottom:1em;">入力画像例</p></h4>
<!-- 画像表示 -->
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <div class="imagebox">
        <img src="{% static 'img/sample1.jpg' %}" width="256" height="256">
        <span>画像例1</span>
    </div>
  </div>
  <div class="col-xs-3">
      <div class="imagebox">
        <img src="{% static 'img/sample2.jpg' %}" width="256" height="256">
      <span>画像例2</span>
    </div>
  </div>
  <div class="col-xs-3">
      <div class="imagebox">
        <img src="{% static 'img/sample3.jpg' %}" width="256" height="256">
        <span>画像例3</span>
    </div>
  </div>
</div>
</div>
<!-- 画像表示 -->
</div>
</div>
</div>

{% endblock content %}